<section class="body">
    <div class="container">

        <h2>CATALOGO</h2>

    <div class="cards">

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

        <div class="card_articulo">
            <div class="card_articulo-imagen">
                <img src="../../../../assets/img/pn1.jpg" alt="">
            </div>
            <p>Nombre prenda</p>
        </div>

    </div>

    </div>
    
</section>
