.body{
    background: linear-gradient(#FD62E4, #FFCFC7);
    padding-top: 1rem;
    min-height: 130rem;   
}

.slider{
    background-color: #FD62E4;
    height: 30rem;
}

.container{
    height: 100vh;
    margin-top: 1rem;
}

.contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 700px) {
    .contenido{
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.contenido .contenido_texto{
    background-color: #FFCFC7;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido_imagen img{
    height: 100%;
    width: 100%;
}

.nuevos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.slider-prendas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 720px) {
    .slider-prendas{
        grid-template-columns: repeat(3, 1fr);
    }
    .body{
        min-height: 100rem;
    }
}

.prenda{
    
    transition: all 300ms;
}

.prenda:hover{
    opacity: 80%;
    transform: scale(1.08);
}

.card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.prenda p{
    text-align: center;
    font-size: 1.3rem;
}