<div class="body">
    <section class="slider">

    </section>
    <section class="container">
        <div class="contenido">
            <div class="contenido_texto">
                <h3>URARA</h3>
                <p>Las mejores prendas</p>
            </div>
            <div class="contenido_imagen">
                <img src="../../../../assets/img/img-prenda-modelo/1.jpg" alt="">
            </div>
        </div>

        <div class="nuevos">
            <h2>Nuevos</h2>

            <div class="slider-prendas">
                <div class="prenda">
                    <div>
                        <img class="card-img" src="../../../../assets/img/pn1.jpg" alt="">
                    </div>
                    <p>Nombre prenda</p>
                </div>

                <div class="prenda">
                    <div>
                        <img class="card-img" src="../../../../assets/img/pn1.jpg" alt="">
                    </div>
                    <p>Nombre prenda</p>
                </div>

                <div class="prenda">
                    <div>
                        <img class="card-img" src="../../../../assets/img/pn1.jpg" alt="">
                    </div>
                    <p>Nombre prenda</p>
                </div>
            </div>
        </div>
    </section>
</div>
