.contenedor{
    width: 100%;
}

.form form .form-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
  
form .form-inputs .form-input{
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
}

.form-inputs .form-input input{
    width: 100%;
}


@media ( max-width: 584px) {
    .contenedor{
        max-width: 100%;
    }

    form .form-inputs .form-input{
        margin-bottom: 15px;
        width: 100%;
    }

}

.botones{
    display: flex;
    justify-content: right;
}

.btn-guardar{
    background-color: rgb(7, 206, 7);
}

.btn-guardar:hover{
    background-color: green;
}

.btn-cancelar{
    background-color: red;
    margin-left: 1rem;
}

.btn-cancelar:hover{
    background-color: rgb(199, 4, 4);
}