.contenedor{
    display: flex;
    justify-content: left;
    align-items: center;
}

.boton{
    background-color: green;
    height: 2.5rem;
    margin-left: 1rem;
    border-radius: 1.5rem;
}

.boton:hover{
    background-color: rgb(7, 206, 7);
}