<header >

    <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav class="sidenav-color">
            <h2>Menu</h2>
            
        </mat-sidenav> 

        <div class="toolbar">
            <div class=" container barra">
                <a class="menu" (click)="sidenav.toggle()"><mat-icon >menu</mat-icon></a>
                <img src="../../../../assets/img/logo_urara.png" alt="logo URARA" routerLink="inicio">
                <!-- <h1>URARA</h1> -->
                <a class="search"><mat-icon >search</mat-icon></a>
                
            </div>
        </div>
        
        <router-outlet></router-outlet>
        
        <app-footer></app-footer>
    </mat-sidenav-container>

    
    
</header>


  