/* header{
    padding: 1rem;
} */

.toolbar{
    background-color: #00cabe;
}

img{
    width: 20%;
    cursor: pointer;
}

@media (max-width: 800px) {
    img{
        width: 30%;
    }
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.search{
    cursor: pointer;
    color: white;
}

.menu{
    cursor: pointer;
    color: white;
}

.sidenav{
    background-image: linear-gradient(#00cabe, #fd62e4);
    min-width: 10rem;
}

.sidenav h2{
    text-align: center;
}

.nav_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: initial;
    gap: 1rem;
}

.nav_lisy-item-boton{
    background: #e759d0;
}

.nav_lisy-item-boton:hover{
    background: #fd62e4;
}