header{
    padding: 1rem;
}


.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.search{
    cursor: pointer;
    color: white;
}

.menu{
    cursor: pointer;
    color: white;
}