<div class="body">
    <div class="contenedor">
        <div class="contenido">
            <div class="form">
                <h2>Ingresar</h2>

                <form>
                    <mat-form-field appearance="fill" class="form-input">
                        <mat-label>Nombre de usuario</mat-label>
                        <input type="text" matInput placeholder="Nombre usuario">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form-input">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput placeholder="Contraseña">
                    </mat-form-field>
                </form>
            </div>
            
            <div class="boton">
                <button mat-button>
                    <mat-icon>login</mat-icon>
                    Iniciar sesión
                </button>
        </div>
        </div>
        
    </div>
</div>

